.slider {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow {
    border: none;
    cursor: pointer;
}

.slider.dark .arrow {
    background-color: #23272f;
    color: #fff;
}

.slider.light .arrow {
    background-color: #fff;
}