.search {
    width: 100%;
    background-color: white;
    display: flex;
}

.light {
    background-color: white;
}
  
.dark {
    background-color: #23272f;
}

.input {
    padding: 10px;
    border: 1px solid #f2f3f5;
    border-radius: 12px;
    width: 100%;
}
